@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}


body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background-color: var(--Light-Grayish-Blue);
    /* min-height: 100vh; */
}

.card-conteiner {
    margin: 55px auto;
    border-radius: 10px;
    background-color: white;
    max-width: 335px;
}

.card-img {
    width: 100%;
    overflow: hidden;
    height: 220px;
}

.card-img img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-content {
    padding: 25px 39px;
}

.card-content h3 {
    font-weight: 700;
    color: var(--Very-Dark-Grayish-Blue);
}

.card-content p {
    font-weight: 500;
    padding: 2px 0;
    color: var(--Desaturated-Dark-Blue);
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 0px 0;
}

.contact-container img {
    border-radius: 100%;
    width: 40px;
    height: 40px;

}

button {
    /* width: 60px; */
    background: transparent;
    border: none;
    /* height: 42px; */
}

.btn-share img {
    width: 36px;
    height: 35px;
    /* border: 1px solid gray; */
    padding: 10px;
    background-color: #e8e4e4;
}

.contact-1 {
    display: flex;
}

.name {
    padding-left: 15px;
}

.name h4 {
    font-weight: 700;
    color: var(--Very-Dark-Grayish-Blue);
}

.name p {
    font-size: 12px;
}

@media screen and (min-width: 660px) {
    .body {
        display: flex;
        justify-content: center;
        /* align-content: center; */
    }

    .card-conteiner {
        display: flex;
        max-width: 615px;
        height: 205px;
        margin: 150px auto;
    }

    .card-content {
        width: 400px;
    }

    .card-img {
        height: auto;
        width: 35%;
    }

    .card-img img {
        /* max-height: 100%; */
        height: 100%;
        border-radius: 10px 0 0 10px;
    }

    .card-content {
        padding: 20px 40px 10px 38px;
    }

    .card-content p {
        font-size: 11px;
    }

    .card-content h3 {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .card-conteiner {
        margin: 250px;
    }
}