@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /* font-family: 'Poppins', sans-serif; */
    background: url(./images/bg-mobile.svg) no-repeat;
    background-color: hsl(257, 40%, 49%);
    color: #f7f7f7;
}
.logo{
    padding: 30px 30px;
}
.logo img{
    height: 35px;
}
.img img{
    width: 350px;
    padding: 20px 10px 20px 35px;
}
.content{
    padding: 27px;
    text-align: center;
}
.content h2{
    font-family: 'Poppins', sans-serif;
}
.content p{
    padding: 20px 10px;
    color: #ececec;
    /* line-height: 2em; */
}
button{
    width: 230px;
    padding: 14px;
    border-radius: 25px;
    background-color: white;
    color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
}
button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}
.icons{
    text-align: center;
    padding: 40px;
    color: white;
}
.icons img{
    background-color: hsl(257, 40%, 49%);
    color: white;
    border-radius: 15px;
    /* height: 30px;
    margin: 5px; */
}
i{
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    padding: 5px 5px;
    margin: 5px;
}
i:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

@media screen and (min-width: 768px){
    .main{
        display: grid;
        justify-items: center;
        /* align-items: center; */
        grid-template-columns: 60% 40%;
        grid-template-rows: 600px;
        /* gap: 10px; */
        grid-template-areas: "content img";
    }
    body{
        background: url(./images/bg-desktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-color: hsl(257, 40%, 49%);
    }
    .img{
        align-self: center;
    }
    .img img{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .content{
        text-align: start;
        margin-top: 80px;
        padding: 010px 95px 0 0;
    }
    .content p{
        padding: 20px 15px 25px 0;
        /* line-height: 2em; */
    }
    .content h2{
        font-size: 40px;
        /* padding: 45px 0 20px 0; */
    }
    .icons{
        text-align: right;
        padding: 0;
    }
    .logo{
        padding: 60px 83px 30px 83px;
    }
    .logo img{
        height: 55px;
    }
}