@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    /* background: linear-gradient(0deg, hsl(0, 0%, 98%), hsl(229, 6%, 66%) 80%) no-repeat; */
}
.heading{
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 60px 0 35px 0;
}
.heading h2{
    font-weight: 200;
}
.bold h2{
    font-weight: bold;
}
.paragraph p{
    font-weight: 200;
}
.cards{
    /* width: 85%; */
    width: 330px;
    margin: auto;
}
.card{
    margin: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* primero horizontal(0), vertical(4), blur(8), spread(0) y color */
    border-radius: 10px;
}
.card h2{
    padding: 20px 20px 10px 20px;
}
.card p{
    padding: 0 20px;
    font-weight: 200;
}
.img{
    text-align: right;
}
.img img{
    padding: 25px
}
.card1{
    border-top: 5px solid hsl(180, 62%, 55%);
}
.card2{
    border-top: 5px solid hsl(0, 78%, 62%);
}
.card3{
    border-top: 5px solid hsl(34, 97%, 64%);
}
.card4{
    border-top: 5px solid hsl(212, 86%, 64%);
}
@media screen and (min-width: 768px){
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 1100px;
        gap: 0px 40px;
        /* grid-auto-flow: row; */
        grid-template-areas:
          "card1 card2 card4"
          ". card3 .";
      }
      
      .card1 { 
          grid-area: card1;
          transform: translate(10px, 150px);
          /* primero el eje principal (column) y despues el decundario (row) */
      }
      
      .card2 {
          grid-area: card2;
      }
      
      .card4 {
          grid-area: card4;
          transform: translate(10px, 150px);
      }
      
      .card3 {
          grid-area: card3;
      }
      /* .paragraph{
          padding: 0 340px;
      } */

}

@media only screen and (min-width: 1100px){
    .paragraph{
          padding: 0 340px;
      }
}